# templates/runner.yaml.j2
apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: repo-runner
  namespace: {{ github_runner_namespace }}
spec:
  replicas: {{ github_runner_replicas }}
  template:
    spec:
      repository: {{ github_runner_repo }}
      serviceAccountName: github-runner-sa
      initContainers:
        - name: kaniko
          image: gcr.io/kaniko-project/executor:debug
          command: ["sh", "-c", "cp /kaniko/executor /tools/kaniko && cp -r /kaniko /tools/kaniko-dir"]
          volumeMounts:
            - name: tools
              mountPath: /tools
      volumeMounts:
        - name: tools
          mountPath: /tools
      volumes:
        - name: tools
          emptyDir: {}